modules = ["web", "python-3.12", "nodejs-20", "bash"]

# Altera o run padrão para rodar init_db.py antes do app principal
run = "sh -c 'python app/database/init_db.py && python run.py'"

[nix]
channel = "stable-25_05"
packages = ["iana-etc"]

[[ports]]
localPort = 5000
externalPort = 8000
exposeLocalhost = true

[deployment]
# Mesmo comando para quando o Replit fizer o deploy
run = ["sh", "-c", "python app/database/init_db.py && python run.py"]
