# Define os módulos usados no ambiente
modules = ["web", "python-3.12", "nodejs-20", "bash"]

# Comando que será executado ao iniciar o ambiente (chmod + executar o script)
run = ["sh", "-c", "chmod +x setup.sh && ./setup.sh"]

# Canal do Nix (opcional, se você quiser travar para uma versão específica)
[nix]
channel = "stable-25_05"
packages = ["iana-etc"]

[[ports]]
localPort = 5000
externalPort = 8000
exposeLocalhost = true
