<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <!-- Page Title -->
    <h1>Forget Password</h1>
    <!-- Flash Messages -->
    {% if get_flashed_messages(with_categories=True) %}
    <section role="alert" aria-live="polite" aria-label="Flash Messages">
        <ul>
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    <!-- Forget Password Form -->
<form method="POST" action="{{ url_for('forget_password') }}">
    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" required placeholder="Digite seu e-mail aqui" minlength="5" maxlength="50">
    <label for="new_password">Nova Senha:</label>
    <input type="password" id="new_password" name="new_password" required placeholder="Digite uma nova senha" minlength="8">
    <label for="confirm_new_password">Confirme a Nova Senha:</label>
    <input type="password" id="confirm_new_password" name="confirm_new_password" required placeholder="Confirme sua nova senha" minlength="8">
    <button type="submit">Alterar Senha</button>
</form>
    <!-- Back to Home -->
    <a href="{{ url_for('home') }}" aria-label="Navigate back to the Home">Back to Home</a>
</div>
</body>
</html>